@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans&display=swap');

:root {
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Fjalla One', sans-serif;
  --bg-blue: rgb(6, 85, 138);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

.text-center{
  text-align: center;
}

.container{
  display: grid;
  grid-template-areas:  
  "header header"
  "aside section"
  "footer footer"
  ;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 220px 1fr;

}

header{
  grid-area: header;
  font-family: var(--title-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-blue);
  color: white;
}

aside{
  grid-area: aside;
  background-color: #ccc;
  padding: 10px 0px;
  overflow-y: auto;
}

.aside-title{
  font-family: var(--title-font);
  color: black;
  text-decoration: underline;
  letter-spacing: 1.2px;
  padding: 1em 0;
}

.project-holder{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 5px 10px;
}

.project{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  padding: .25em .5em;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  font-family: var(--main-font);
}

.project.active{
  background-color: var(--bg-blue);
  color: white;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.349);
  transform: scale(1.03);
}

section{
  grid-area: section;
  background-color: #111;
  display: grid;
  place-items: center center;
}

section img{
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  height: auto;
  display: block;
}

.wrapper{
  padding: 2em 1em;
  background-color: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
  max-width: 40%;
  min-width: 300px;
  margin-top: -5vh;
}

.project-info{
  padding: 5px;
}

.project-name-section{
  font-family: var(--title-font);
}

.project-link-section{
  display: block;
  color: black;
  font-family: var(--main-font);
}

.project-description-section{
  font-size: 18px;
  font-family: var(--main-font);
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0px 50px;
  background-color: var(--bg-blue);
}

footer .side{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 3px;
  border-radius: 3px;
}

footer .side a, h5{
  color: white;
  font-family: var(--main-font);
  padding: 5px;
}

footer .side a{
  font-size: 12px;
}